<%- include("partials/header") %>
<form action="/admin/create-category" method="POST" class="newsformcreate">

    <h1>Create New Category</h1>
    <span>Category Name</span>
    <input type="text" name="name" id="" placeholder="Category Name"><br>
    <!-- <input type="file" name="" id="" style="border: none;"> -->
    <button type="submit" >Create</button>
</form>

<%- include("partials/footer") %>