<%- include("partials/header") %>
<form class="newsformcreate" id="formadminnewscreate" class="newsClass">
    <h1>Update Notification</h1>
    <span>Title</span><br>
    <input type="text" name="" id="inputtitlenewsadmin" placeholder="Notification Title"><br>
    <!-- <input type="datetime-local" name="" id="" placeholder="Time"><br> -->
    <!-- <textarea name="" id="desc" cols="30" rows="10" placeholder="News Content"></textarea><br>
    <input type="file" name="" id="" style="border: none;"> -->
    <span>Notification URL</span><br>
    <input type="text" name="" id="inputtitlenewsadmin" placeholder="Notification URL"><br>
    <span>File</span><br>
    <input type="file" name="" id="" style="border: none;">
    <button id="btn-notification-update">Update</button>
</form>
<p id="ti"></p>
<p id="ti1"></p>
<script src="/js/createallinonefolder.js"></script>
<%- include("partials/footer") %>