@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Rubik:300,regular,500,600,700,800,900,300italic,italic,500italic,600italic,700italic,800italic,900italic);
$main_color:#436475;
$background_color:#E0E8E9;
$error_color : #ff4141;
$chat_color : #6B98AE;
$light_input : #DAEDF6;

$main_font:"Poppins" , sans-serif;
$secondary_font : "Rubik" , sans-serif;
