
<footer>
  <div class="logo"></div>
  <div class="links">
      <a target="_blank" href="/forum_categories">Forums</a>
      <a target="_blank" href="/news">News</a>
      <a target="_blank" href="/project">Projects</a>
      <a target="_blank" href="/tender">Tenders</a>
      <a href="/#aboutus">About Us</a>
      <a href="/contact-us">Contact Us</a>
      <a target="_blank" href="/terms_and_conditions.html">Terms & Conditions</a>
      <a target="_blank" href="/Privacy_statement.html">Privacy Policy</a>
      <a target="_blank" href="/social_media_policy.html">Social Media Policy</a>
  </div>
  <div class="social-media-links">
      <a target="_blank" id="facebook" href="https://www.facebook.com/valuers.connect" style="background-image:url('/assets/facebook.png')"></a>
      <a target="_blank" id="telegram" href="http://t.me/valuersconnect" style="background-image:url('/assets/telegram.png')"></i></a>
      <a target="_blank" id="twitter"  href="https://www.twitter.com/ValuersIndian" style="background-image:url('/assets/twitter.png')"></a>
      <a target="_blank" id="linkedin" href="https://www.linkedin.com/in/valuers-connect-b125071b5" style="background-image:url('/assets/linkedin.png')"></a>
  </div>
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="/dropdown.js"></script>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/js/loginAxios.js"></script>
<script src="/js/logout.js"></script>
<script src="/js/signupAjax.js"></script>


<script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
  window.jQuery || document.write('<script src="js/vendor/jquery-3.3.1.min.js"><\/script>')
</script>
<script src="/Trumbowyg-master/dist/trumbowyg.min.js"></script>
<script src="/Trumbowyg-master/dist/base64/trumbowyg.base64.js"></script>
<script>
  $('#desc')
    .trumbowyg({
      btnsDef: {
        // Create a new dropdown
        image: {
          dropdown: ['insertImage', 'base64'],
          ico: 'insertImage'
        }
      },
      // Redefine the button pane
      btns: [
        ['viewHTML'],
        ['formatting'],
        ['strong', 'em', 'del'],
        ['superscript', 'subscript'],
        ['link'],
        ['image'], // Our fresh created dropdown
        ['justifyLeft', 'justifyCenter', 'justifyRight', 'justifyFull'],
        ['unorderedList', 'orderedList'],
        ['horizontalRule'],
        ['removeformat'],
        ['fullscreen']
      ]
    });



    



</script>
<!-- <script src="http://3500/js/tenderListAjax.js"></script> -->
<script>
  console.log('hello world this is the script');
  window.onscroll = ()=>{
      let nav = document.querySelector('nav');
      if(window.scrollY === 0){
          nav.classList.remove('small');
      }
      else{
          nav.classList.add('small');
      }
  }


  let burger = document.querySelector('span.burger');
  let nav_list = document.querySelector('nav>ul.nav-list');
  let nav = document.querySelector('nav');
  burger.onclick = (e)=>{
      if(window.scrollY === 0){
          nav.classList.remove('small');
          if(Array.from(nav_list.classList).includes('show') === false){
              nav.classList.add('small');
          }
      }
      nav_list.classList.toggle('show');
  }

</script>
</body>

</html>





















































































<!-- <footer class="" style="margin-top:2.5rem;background-color:white;"><br>
  <div class="container ">
    <div class="row p-4">
      <div class="col-lg-3 col-sm-6 col-md-4 mb-5">
        <div>
          <img src="/assets/log-white.png" style="margin-top: -2rem;" alt="" width="200px"><br>
           <a target="_blank" href="#" target="_blank">  <i class="fa fa-facebook fa-2x mr-1" aria-hidden="true"
              style="background: #2A50D6;color:white;padding:5px 11px 5px 11px;border-radius:50%"></i></a>
          <a target="_blank" href="#" target="_blank">  <i class="fa fa-twitter fa-2x mr-1" aria-hidden="true"
              style="background: #47D4F3;color:white;padding:5px 5px 5px 5px;border-radius:50%"></i></a>
              <a target="_blank" href="https://www.linkedin.com/in/valuers-connect-b125071b5/"  target="_blank"> <i class="fa fa-linkedin fa-2x mr-1" aria-hidden="true"
                style="color:white;background-color: rgb(27, 104, 204);padding:5px 5px 5px 5px;margin-top: 20px;"></i></a>
                <a target="_blank" href="http://t.me/valuersconnect" target="_blank"> <i class="fa fa-telegram fa-2x " aria-hidden="true"
                  style="color:white;background-color: rgb(27, 104, 204);padding:5px 5px 5px 5px;margin-top: 20px;"></i></a> -->
        <!-- </div>
      </div>
      <div class="col-lg-2 col-sm-4 col-md-4 mb-5"> -->
         <!-- <p class="font-weight-bold">Podcasts</p> -->
        <!-- <a target="_blank" href="/#forumNav" class="text-dark">Forums</a> <br>
        <a target="_blank" href="/news" class="text-dark">News</a> <br> -->
        <!-- <a target="_blank" href="/events" class="text-dark">Upcoming Events</a> <br> -->
        <!-- <a target="_blank" href="/career" class="text-dark">Carrer</a> <br> -->
        <!-- <a target="_blank" href="/projects" class="text-dark">Projects</a> <br>
        <a target="_blank" href="/tender" class="text-dark">Tenders</a> <br>

      </div>
      <div class="col-lg-2 col-sm-4 col-md-4 mb-5 ">
        <a target="_blank" href="/#aboutUs" class="text-dark"> About Us</a> <br>
        <a target="_blank" href="#" class="text-dark"> Feedback</a> <br>
        <a target="_blank" href="#" class="text-dark"> Customer Care</a> <br>
        <a target="_blank" href="https://codewick.net" target="_blank" class="text-dark"> Digital Partners</a> <br> -->

        <!-- <p class="font-weight-bold">Digital Partners</p> -->
        <!-- <a target="_blank" href="#" class="text-dark"> SignUp</a> <br>  
        <a target="_blank" href="#" class="text-dark"> Login</a> <br> -->
      <!-- </div>
      <div class="col-lg-2 col-sm-4 col-md-4 mb-5"> -->
        <!-- <p class="font-weight-bold">Our stories</p> -->
        <!-- <a target="_blank" href="#" class="text-dark">Sell on IndiaMART</a> <br> -->
        <!-- <a target="_blank" href="#" class="text-dark">Learning Center</a> <br>
        <a target="_blank" href="#" class="text-dark">Enterprise Sollution</a> <br>
        <a target="_blank" href="#" class="text-dark">Success Stories</a> <br> -->
        <!-- <a target="_blank" href="/terms_and_conditions.html" target="_blank" class="text-dark"> Terms & Conditions </a> <br>
        <a target="_blank" href="/Privacy_statement.html" target="_blank" class="text-dark"> Privacy Policy</a> <br>
        <a target="_blank" href="/social_media_policy.html" target="_blank" class="text-dark">Social media Policy</a> <br>
        
      </div>
       <div class="col-lg-3 col-sm-8 col-md-8 ">
      <a target="_blank" href="#" target="_blank">  <i class="fa fa-facebook fa-2x mr-1" aria-hidden="true"
              style="background: #2A50D6;color:white;padding:5px 11px 5px 11px;border-radius:50%"></i></a>
          <a target="_blank" href="#" target="_blank">  <i class="fa fa-twitter fa-2x mr-1" aria-hidden="true"
              style="background: #47D4F3;color:white;padding:5px 5px 5px 5px;border-radius:50%"></i></a>
              <a target="_blank" href="https://www.linkedin.com/in/valuers-connect-b125071b5/"  target="_blank"> <i class="fa fa-linkedin fa-2x mr-1" aria-hidden="true"
                style="color:white;background-color: rgb(27, 104, 204);padding:5px 5px 5px 5px;margin-top: 20px;"></i></a>
                <a target="_blank" href="http://t.me/valuersconnect" target="_blank"> <i class="fa fa-telegram fa-2x " aria-hidden="true"
                  style="color:white;background-color: rgb(27, 104, 204);padding:5px 5px 5px 5px;margin-top: 20px;"></i></a> -->
        <!--<img src="/assets/Telegram-QR.png" alt="" width="130px"><br>
        <a target="_blank" href="#" class="text-dark">Scan and Join Our Telegram Channel</a> <br>-->
      <!-- </div>

    </div>
  </div> --> 