<%- include ("partials/header") %>

<style>
.threadcategorytotaldivwhite {
    background-color: white;
    display: block;
    margin: auto;
    padding: 10px 50px 20px 50px;
}

.threadcategorytotaldivwhitegreenbg {
    background-color: #f0f0f0;
    padding: 20px;
    min-height: 94vh;
}

.threadpageimageprofile img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-right: 20px;
}

.threadpageimageprofileflex {
    display: flex;
}

.threadcategorytotaldivwhitefixedfs {
    font-size: 20px;
    font-weight: bold;
    color: #007C89;
}

.threadcategorytotaldivwhitefixedfscolorfade {
    color: gray;
    font-weight: bold;
}

.threadbottombordercategory {
    border-bottom: 2px solid #007C89;
    padding: 5px 0 10px 20px;
}

@media(max-width:415px) {
    .threadcategorytotaldivwhite {
        background-color: white;
        display: block;
        margin: auto;
        padding: 10px 20px 20px 10px;
    }

    .threadcategorytotaldivwhitefixedfs {
        font-size: 15px;
        font-weight: bold;
        color: #007C89;
    }

    .threadcategorytotaldivwhitefixedfscolorfade {
        color: gray;
        font-weight: bold;
        font-size: 12px;
    }

    .threadpageimageprofile {
        display: none;
    }
}
</style>

<div class="threadcategorytotaldivwhitegreenbg">
    <div class="threadcategorytotaldivwhite">

        <div>
            <div class="threadbottombordercategory">
                <div class="row">
                    <div class="col-lg-6 col-md-5 col-sm-12">
                        <span class="threadcategorytotaldivwhitefixedfs">
                            Took the Certified Residential Exam a 3rd time yesterday...</span><br>
                        <span class="threadcategorytotaldivwhitefixedfscolorfade">Apr 5, 2021</span>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <span
                            class="threadcategorytotaldivwhitefixedfs threadcategorytotaldivwhitefixedfscolorfade">Replies
                            : </span><span class="threadcategorytotaldivwhitefixedfs">57</span>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 threadpageimageprofileflex">
                        <div class="threadpageimageprofile">
                            <a   href=""><img src="./imagesall/profile_user.jpg" alt="">
                                <span class="threadcategorytotaldivwhitefixedfs"> Ankush Roy</span></a>
                        </div>

                    </div>
                </div>
            </div>

            <div class="threadbottombordercategory">
                <div class="row">
                    <div class="col-lg-6 col-md-5 col-sm-12">
                        <span class="threadcategorytotaldivwhitefixedfs">
                            Took the Certified Residential Exam a 3rd time yesterday...</span><br>
                        <span class="threadcategorytotaldivwhitefixedfscolorfade">Apr 5, 2021</span>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <span
                            class="threadcategorytotaldivwhitefixedfs threadcategorytotaldivwhitefixedfscolorfade">Replies
                            : </span><span class="threadcategorytotaldivwhitefixedfs">57</span>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 threadpageimageprofileflex">
                        <div class="threadpageimageprofile">
                            <a   href=""><img src="./imagesall/profile_user.jpg" alt="">
                                <span class="threadcategorytotaldivwhitefixedfs"> Ankush Roy</span></a>
                        </div>

                    </div>
                </div>
            </div>

            <div class="threadbottombordercategory">
                <div class="row">
                    <div class="col-lg-6 col-md-5 col-sm-12">
                        <span class="threadcategorytotaldivwhitefixedfs">
                            Took the Certified Residential Exam a 3rd time yesterday...</span><br>
                        <span class="threadcategorytotaldivwhitefixedfscolorfade">Apr 5, 2021</span>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <span
                            class="threadcategorytotaldivwhitefixedfs threadcategorytotaldivwhitefixedfscolorfade">Replies
                            : </span><span class="threadcategorytotaldivwhitefixedfs">57</span>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 threadpageimageprofileflex">
                        <div class="threadpageimageprofile">
                            <a   href=""><img src="./imagesall/profile_user.jpg" alt="">
                                <span class="threadcategorytotaldivwhitefixedfs"> Ankush Roy</span></a>
                        </div>

                    </div>
                </div>
            </div>

            <div class="threadbottombordercategory">
                <div class="row">
                    <div class="col-lg-6 col-md-5 col-sm-12">
                        <span class="threadcategorytotaldivwhitefixedfs">
                            Took the Certified Residential Exam a 3rd time yesterday...</span><br>
                        <span class="threadcategorytotaldivwhitefixedfscolorfade">Apr 5, 2021</span>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <span
                            class="threadcategorytotaldivwhitefixedfs threadcategorytotaldivwhitefixedfscolorfade">Replies
                            : </span><span class="threadcategorytotaldivwhitefixedfs">57</span>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 threadpageimageprofileflex">
                        <div class="threadpageimageprofile">
                            <a   href=""><img src="./imagesall/profile_user.jpg" alt="">
                                <span class="threadcategorytotaldivwhitefixedfs"> Ankush Roy</span></a>
                        </div>

                    </div>
                </div>
            </div>

            <div class="threadbottombordercategory">
                <div class="row">
                    <div class="col-lg-6 col-md-5 col-sm-12">
                        <span class="threadcategorytotaldivwhitefixedfs">
                            Took the Certified Residential Exam a 3rd time yesterday...</span><br>
                        <span class="threadcategorytotaldivwhitefixedfscolorfade">Apr 5, 2021</span>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <span
                            class="threadcategorytotaldivwhitefixedfs threadcategorytotaldivwhitefixedfscolorfade">Replies
                            : </span><span class="threadcategorytotaldivwhitefixedfs">57</span>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 threadpageimageprofileflex">
                        <div class="threadpageimageprofile">
                            <a   href=""><img src="./imagesall/profile_user.jpg" alt="">
                                <span class="threadcategorytotaldivwhitefixedfs"> Ankush Roy</span></a>
                        </div>

                    </div>
                </div>
            </div>

            <div class="threadbottombordercategory">
                <div class="row">
                    <div class="col-lg-6 col-md-5 col-sm-12">
                        <span class="threadcategorytotaldivwhitefixedfs">
                            Took the Certified Residential Exam a 3rd time yesterday...</span><br>
                        <span class="threadcategorytotaldivwhitefixedfscolorfade">Apr 5, 2021</span>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <span
                            class="threadcategorytotaldivwhitefixedfs threadcategorytotaldivwhitefixedfscolorfade">Replies
                            : </span><span class="threadcategorytotaldivwhitefixedfs">57</span>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 threadpageimageprofileflex">
                        <div class="threadpageimageprofile">
                            <a   href=""><img src="./imagesall/profile_user.jpg" alt="">
                                <span class="threadcategorytotaldivwhitefixedfs"> Ankush Roy</span></a>
                        </div>

                    </div>
                </div>
            </div>

            <div class="threadbottombordercategory">
                <div class="row">
                    <div class="col-lg-6 col-md-5 col-sm-12">
                        <span class="threadcategorytotaldivwhitefixedfs">
                            Took the Certified Residential Exam a 3rd time yesterday...</span><br>
                        <span class="threadcategorytotaldivwhitefixedfscolorfade">Apr 5, 2021</span>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <span
                            class="threadcategorytotaldivwhitefixedfs threadcategorytotaldivwhitefixedfscolorfade">Replies
                            : </span><span class="threadcategorytotaldivwhitefixedfs">57</span>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 threadpageimageprofileflex">
                        <div class="threadpageimageprofile">
                            <a   href=""><img src="./imagesall/profile_user.jpg" alt="">
                                <span class="threadcategorytotaldivwhitefixedfs"> Ankush Roy</span></a>
                        </div>

                    </div>
                </div>
            </div>

            <div class="threadbottombordercategory">
                <div class="row">
                    <div class="col-lg-6 col-md-5 col-sm-12">
                        <span class="threadcategorytotaldivwhitefixedfs">
                            Took the Certified Residential Exam a 3rd time yesterday...</span><br>
                        <span class="threadcategorytotaldivwhitefixedfscolorfade">Apr 5, 2021</span>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <span
                            class="threadcategorytotaldivwhitefixedfs threadcategorytotaldivwhitefixedfscolorfade">Replies
                            : </span><span class="threadcategorytotaldivwhitefixedfs">57</span>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 threadpageimageprofileflex">
                        <div class="threadpageimageprofile">
                            <a   href=""><img src="./imagesall/profile_user.jpg" alt="">
                                <span class="threadcategorytotaldivwhitefixedfs"> Ankush Roy</span></a>
                        </div>

                    </div>
                </div>
            </div>

            <div class="threadbottombordercategory">
                <div class="row">
                    <div class="col-lg-6 col-md-5 col-sm-12">
                        <span class="threadcategorytotaldivwhitefixedfs">
                            Took the Certified Residential Exam a 3rd time yesterday...</span><br>
                        <span class="threadcategorytotaldivwhitefixedfscolorfade">Apr 5, 2021</span>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <span
                            class="threadcategorytotaldivwhitefixedfs threadcategorytotaldivwhitefixedfscolorfade">Replies
                            : </span><span class="threadcategorytotaldivwhitefixedfs">57</span>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 threadpageimageprofileflex">
                        <div class="threadpageimageprofile">
                            <a   href=""><img src="./imagesall/profile_user.jpg" alt="">
                                <span class="threadcategorytotaldivwhitefixedfs"> Ankush Roy</span></a>
                        </div>

                    </div>
                </div>
            </div>

            <div class="threadbottombordercategory">
                <div class="row">
                    <div class="col-lg-6 col-md-5 col-sm-12">
                        <span class="threadcategorytotaldivwhitefixedfs">
                            Took the Certified Residential Exam a 3rd time yesterday...</span><br>
                        <span class="threadcategorytotaldivwhitefixedfscolorfade">Apr 5, 2021</span>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <span
                            class="threadcategorytotaldivwhitefixedfs threadcategorytotaldivwhitefixedfscolorfade">Replies
                            : </span><span class="threadcategorytotaldivwhitefixedfs">57</span>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 threadpageimageprofileflex">
                        <div class="threadpageimageprofile">
                            <a   href=""><img src="./imagesall/profile_user.jpg" alt="">
                                <span class="threadcategorytotaldivwhitefixedfs"> Ankush Roy</span></a>
                        </div>

                    </div>
                </div>
            </div>

            <div class="threadbottombordercategory">
                <div class="row">
                    <div class="col-lg-6 col-md-5 col-sm-12">
                        <span class="threadcategorytotaldivwhitefixedfs">
                            Took the Certified Residential Exam a 3rd time yesterday...</span><br>
                        <span class="threadcategorytotaldivwhitefixedfscolorfade">Apr 5, 2021</span>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <span
                            class="threadcategorytotaldivwhitefixedfs threadcategorytotaldivwhitefixedfscolorfade">Replies
                            : </span><span class="threadcategorytotaldivwhitefixedfs">57</span>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 threadpageimageprofileflex">
                        <div class="threadpageimageprofile">
                            <a   href=""><img src="./imagesall/profile_user.jpg" alt="">
                                <span class="threadcategorytotaldivwhitefixedfs"> Ankush Roy</span></a>
                        </div>

                    </div>
                </div>
            </div>

            <div class="threadbottombordercategory">
                <div class="row">
                    <div class="col-lg-6 col-md-5 col-sm-12">
                        <span class="threadcategorytotaldivwhitefixedfs">
                            Took the Certified Residential Exam a 3rd time yesterday...</span><br>
                        <span class="threadcategorytotaldivwhitefixedfscolorfade">Apr 5, 2021</span>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <span
                            class="threadcategorytotaldivwhitefixedfs threadcategorytotaldivwhitefixedfscolorfade">Replies
                            : </span><span class="threadcategorytotaldivwhitefixedfs">57</span>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 threadpageimageprofileflex">
                        <div class="threadpageimageprofile">
                            <a   href=""><img src="./imagesall/profile_user.jpg" alt="">
                                <span class="threadcategorytotaldivwhitefixedfs"> Ankush Roy</span></a>
                        </div>

                    </div>
                </div>
            </div>

            <div class="threadbottombordercategory">
                <div class="row">
                    <div class="col-lg-6 col-md-5 col-sm-12 col-xs-12">
                        <span class="threadcategorytotaldivwhitefixedfs">
                            Took the Certified Residential Exam a 3rd time yesterday...</span><br>
                        <span class="threadcategorytotaldivwhitefixedfscolorfade">Apr 5, 2021</span>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <span
                            class="threadcategorytotaldivwhitefixedfs threadcategorytotaldivwhitefixedfscolorfade">Replies
                            : </span><span class="threadcategorytotaldivwhitefixedfs">57</span>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 threadpageimageprofileflex">
                        <div class="threadpageimageprofile">
                            <a   href=""><img src="./imagesall/profile_user.jpg" alt="">
                                <span class="threadcategorytotaldivwhitefixedfs"> Ankush Roy</span></a>
                        </div>

                    </div>
                </div>
            </div>

            <div class="threadbottombordercategory">
                <div class="row">
                    <div class="col-lg-6 col-md-5 col-sm-12">
                        <span class="threadcategorytotaldivwhitefixedfs">
                            Took the Certified Residential Exam a 3rd time yesterday...</span><br>
                        <span class="threadcategorytotaldivwhitefixedfscolorfade">Apr 5, 2021</span>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <span
                            class="threadcategorytotaldivwhitefixedfs threadcategorytotaldivwhitefixedfscolorfade">Replies
                            : </span><span class="threadcategorytotaldivwhitefixedfs">57</span>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 threadpageimageprofileflex">
                        <div class="threadpageimageprofile">
                            <a   href=""><img src="./imagesall/profile_user.jpg" alt="">
                                <span class="threadcategorytotaldivwhitefixedfs"> Ankush Roy</span></a>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</div>
<%- include ("partials/footer") %>