<%- include("partials/header") %>

<h1 class="page-heading">Blogs</h1>
<div class="grid-wrapper large" id="blogs-result">
</div>

<script src="/js/allBlog.js"></script>

<%- include("partials/footer") %>