<%- include("partials/header") %>
<h1 class="page-heading">Events</h1>
<div class="grid-wrapper small" id="events-result">
</div>



<script src="../js/allEvents.js"></script>

<%- include("partials/footer") %>