<%- include("partials/header") %>
<div>
  <h2 style="text-align: center; font-weight: bold;">
   Events 
  </h2>
</div>
<div class="newsallbody">
  <div class="container ">
    <div>
    <input type="text" id="myInputsearch" style="visibility: hidden;" placeholder="Search within.." title="Type in a name">
    </div>
    <div>
      <div class="row past-episode-row" id="events-result"></div>

    </div>
  </div>
</div>
</div>



<script src="../js/allEvents.js"></script>

<%- include("partials/footer") %>