<%- include("partials/header") %>
  <h1 class="page-heading">
    News
  </h1>

  <div class="grid-wrapper large" id="news-result">
  </div>


<script src="../js/allNews.js"></script>

<%- include("partials/footer") %>