<%- include("partials/header") %>




  <div class="">
    <div class="seconddiv">
      <div class="seconddivbackgroundimg">

      </div>
    </div>
  <div class="marque">
    <div class="container">
      <h5>Special Announcement</h5>
    <marquee>Special announcement will be displayed here.</marquee>
    </div>    
  </div>
  </div>
    
  <!-- <div class="thirddiv">
    <div class="row">
      <div class="col-lg-7 forumrow">
        <div>
          <p id="discussion" class="discussionheading">Sample Forum</p>
        </div>
        <div id="div1" style="height: 1070px;">
          <div id="div2" style="height: inherit; overflow: auto;">
            <div id="div3" style="height:inherit;">
              <div class="card">
              <div class="card-header profilecardheader">
                <div class="profiledivphoto row">
                  <div class="col-10 row">
                    <div class="profilemage col"></div>
                    <div class="profiledescription col-11">
                      <strong>
                        <p> Anushka Upadhayay</p>
                      </strong>
                      <p>Manager at Microsoft</p>
                      <p>February 28, 2021</p>
                    </div>
                  </div>
      
                  <div class="followlink col-2">
                    <ul class="nav nav-pills card-header-pills">
                      <li class="nav-item">
                        <a class="nav-link active" href="#">Follow</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <h5 class="card-title">Why is Dubai called a fake city?</h5>
                <p class="card-text">Dubai is called “FAKE”. Because under the 800metre skyscrapers are exploited
                  migrant workers that haven’t seen their family in years and live in horrendous conditions.This is
                  so strange- Dubai has wealth <a   href="#">...more</a></p>      
              </div>
              <div class="threadsdiv">
                <p>Threads : 24.5K</p>
                <p>Messages : 15k</p>
              </div>
            </div>
            <div class="card">
              <div class="card-header profilecardheader">
                <div class="profiledivphoto row">
                  <div class="col-10 row">
                    <div class="profilemage col"></div>
                    <div class="profiledescription col-11">
                      <strong>
                        <p> Anushka Upadhayay</p>
                      </strong>
                      <p>Manager at Microsoft</p>
                      <p>February 28, 2021</p>
                    </div>
                  </div>      
                  <div class="followlink col-2">
                    <ul class="nav nav-pills card-header-pills">
                      <li class="nav-item">
                        <a class="nav-link active" href="#">Follow</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <h5 class="card-title">Why is Dubai called a fake city?</h5>
                <p class="card-text">Dubai is called “FAKE”. Because under the 800metre skyscrapers are exploited
                  migrant workers that haven’t seen their family in years and live in horrendous conditions.This is
                  so strange- Dubai has wealth <a   href="#">...more</a></p>      
              </div>
              <div class="threadsdiv">
                <p>Threads : 24.5K</p>
                <p>Messages : 15k</p>
              </div>
            </div>
            <div class="card">
              <div class="card-header profilecardheader">
                <div class="profiledivphoto row">
                  <div class="col-10 row">
                    <div class="profilemage col"></div>
                    <div class="profiledescription col-11">
                      <strong>
                        <p> Anushka Upadhayay</p>
                      </strong>
                      <p>Manager at Microsoft</p>
                      <p>February 28, 2021</p>
                    </div>
                  </div>
      
                  <div class="followlink col-2">
                    <ul class="nav nav-pills card-header-pills">
                      <li class="nav-item">
                        <a class="nav-link active" href="#">Follow</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <h5 class="card-title">Why is Dubai called a fake city?</h5>
                <p class="card-text">Dubai is called “FAKE”. Because under the 800metre skyscrapers are exploited
                  migrant workers that haven’t seen their family in years and live in horrendous conditions.This is
                  so strange- Dubai has wealth <a   href="#">...more</a></p>      
              </div>
              <div class="threadsdiv">
                <p>Threads : 24.5K</p>
                <p>Messages : 15k</p>
              </div>
            </div>
            <div class="card">
              <div class="card-header profilecardheader">
                <div class="profiledivphoto row">
                  <div class="col-10 row">
                    <div class="profilemage col"></div>
                    <div class="profiledescription col-11">
                      <strong>
                        <p> Anushka Upadhayay</p>
                      </strong>
                      <p>Manager at Microsoft</p>
                      <p>February 28, 2021</p>
                    </div>
                  </div>
      
                  <div class="followlink col-2">
                    <ul class="nav nav-pills card-header-pills">
                      <li class="nav-item">
                        <a class="nav-link active" href="#"> Follow</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <h5 class="card-title">Why is Dubai called a fake city?</h5>
                <p class="card-text">Dubai is called “FAKE”. Because under the 800metre skyscrapers are exploited
                  migrant workers that haven’t seen their family in years and live in horrendous conditions.This is
                  so strange- Dubai has wealth <a   href="#">...more</a></p>      
              </div>
              <div class="threadsdiv">
                <p>Threads : 24.5K</p>
                <p>Messages : 15k</p>
              </div>
            </div>
            <div class="card">
              <div class="card-header profilecardheader">
                <div class="profiledivphoto row">
                  <div class="col-10 row">
                    <div class="profilemage col"></div>
                    <div class="profiledescription col-11">
                      <strong>
                        <p> Anushka Upadhayay</p>
                      </strong>
                      <p>Manager at Microsoft</p>
                      <p>February 28, 2021</p>
                    </div>
                  </div>
      
                  <div class="followlink col-2">
                    <ul class="nav nav-pills card-header-pills">
                      <li class="nav-item">
                        <a class="nav-link active" href="#">Follow</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <h5 class="card-title">Why is Dubai called a fake city?</h5>
                <p class="card-text">Dubai is called “FAKE”. Because under the 800metre skyscrapers are exploited
                  migrant workers that haven’t seen their family in years and live in horrendous conditions.This is
                  so strange- Dubai has wealth <a   href="#">...more</a></p>      
              </div>
              <div class="threadsdiv">
                <p>Threads : 24.5K</p>
                <p>Messages : 15k</p>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 newsfulldiv">
        
        <div class="newscard">          
          <div class="card" style="">
            <div id="news" class="industrialnewsheading">
              <p>Industrial News</p>
            </div>
            <div class="card-body">
              <h5 class="card-title"><a   href="#" data-toggle="modal" data-target="#exampleModalCenter">Prince William "Struggling To Hold Back" After Meghan Interview: Report</a></h5>
              <h6 class="card-subtitle mb-2 text-muted">Updated: April 2, 2021</h6>
            </div>
            <div class="card-body">
              <h5 class="card-title"><a   href="#" data-toggle="modal" data-target="#exampleModalCenter">Prince William "Struggling To Hold Back" After Meghan Interview: Report</a></h5>
              <h6 class="card-subtitle mb-2 text-muted">Updated: April 2, 2021</h6>
            </div>
            <div class="card-body">
              <h5 class="card-title"><a   href="#" data-toggle="modal" data-target="#exampleModalCenter">Prince William "Struggling To Hold Back" After Meghan Interview: Report</a></h5>
              <h6 class="card-subtitle mb-2 text-muted">Updated: April 2, 2021</h6>
            </div>
            <div class="card-body">
              <h5 class="card-title"><a   href="#" data-toggle="modal" data-target="#exampleModalCenter">Prince William "Struggling To Hold Back" After Meghan Interview: Report</a></h5>
              <h6 class="card-subtitle mb-2 text-muted">Updated: April 2, 2021</h6>
            </div>
          </div>
        </div>

        <div id="upcoming" class="upcoming">
          
          <div class="newscard">
            <div class="card" style="">
              <div class="industrialnewsheading">
                <p>Upcoming Events</p>
              </div>
              <div class="card-body">
                <h5 class="card-title"><a   href="" data-toggle="modal" data-target="#exampleModalCenter">Coding Challenge</a></h5>
                <h6 class="card-subtitle mb-2 text-muted">Date: April 5, 2021</h6>
              </div>
              <div class="card-body">
                <h5 class="card-title"><a   href="#" data-toggle="modal" data-target="#exampleModalCenter">Hackathon</a></h5>
                <h6 class="card-subtitle mb-2 text-muted">Date: April 12, 2021</h6>
              </div>
              <div class="card-body">
                <h5 class="card-title"><a   href="#" data-toggle="modal" data-target="#exampleModalCenter">Hackathon</a></h5>
                <h6 class="card-subtitle mb-2 text-muted">Date: April 12, 2021</h6>
              </div>
              <div class="card-body">
                <h5 class="card-title"><a   href="#" data-toggle="modal" data-target="#exampleModalCenter">Hackathon</a></h5>
                <h6 class="card-subtitle mb-2 text-muted">Date: April 12, 2021</h6>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>


  <footer class="" style="margin-top:2.5rem;background-color: #007C89;color: whitesmoke;"><br>
    <div class="container ">
      <div class="row p-4">
        <div class="col-lg-3 col-sm-4 col-md-4 mb-5">
          <div>
            <h3 class="font-weight-bold">SampleForum</h3>
            <p>Lorem ipsum dolor sit amet.</p>
            <a   href="#"> <i class="fa fa-facebook fa-2x mr-4" aria-hidden="true"
                style="background: #2A50D6;color:white;padding:5px 11px 5px 11px;border-radius:50%"></i></a>
            <a   href="#"> <i class="fa fa-twitter fa-2x" aria-hidden="true"
                style="background: #47D4F3;color:white;padding:5px 5px 5px 5px;border-radius:50%"></i></a>
          </div>
        </div>
        <div class="col-lg-2 col-sm-4 col-md-4 mb-5">
          <p class="font-weight-bold">Forum</p>
          <a   href="#" class="">The Changelog</a> <br>
          <a   href="#" class="">JS Party</a> <br>
          <a   href="#" class="">Go Time</a> <br>
          <a   href="#" class="">Founders Talk</a> <br>
          <a   href="#" class="">Backstage</a>

        </div>
        <div class="col-lg-2 col-sm-4 col-md-4 mb-5 ">
          <p class="font-weight-bold">Information</p>
          <a   href="#" class=""> About Us</a> <br>
          <a   href="#" class=""> Investor Relations</a> <br>
          <a   href="#" class=""> Feedback</a> <br>
          <a   href="#" class=""> Customer Care</a> <br>
        </div>
        <div class="col-lg-2 col-sm-4 col-md-4 mb-5">
          <p class="font-weight-bold">Our stories</p>
          <a   href="#" class="">Sell on IndiaMART</a> <br>
          <a   href="#" class="">Learning Center</a> <br>
          <a   href="#" class="">Enterprise Sollution</a> <br>
          <a   href="#" class="">Success Stories</a> <br>
        </div>
        <div class="col-lg-3 col-sm-8 col-md-8 ">
          <h5 class="font-weight-bold">Backstage newsletter</h5>
          <p>Get Close to the UX ation</p>

          <div class="input-group mb-4">
            <input type="email" class="form-control" placeholder="Email address">
            <div class="input-group-append">
              <span class="input-group-text bg-success text-light">Sign Up</span>
            </div>
          </div>
        </div>

      </div>
    </div>

  </footer> -->




<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Upcoming Events</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        You will be updated soon.
      </div>
    </div>
  </div>
</div>


<div class="forumnewdiv">
  <div class="row">
    <div class="col-lg-8 ">
      <div class="realstateforumhead boxshadow">
        <div class="realstateforumheadh3div">
          <h3>Real State Forum</h3>
        </div>       
        <div class="contentrepeatforun">
          <div class="forumnewdivflex">
            <div><i class="far fa-comment-dots fa-2x"></i></div><div class="profession">Improving the Profession</div><div class="forumthred">Thread <br>392k</div><div class="forumthred">Thread <br>392k</div><div><a   href="/profile"><img style="border-radius: 100%;" width="50px" height="50px" src="../imagesall/profile_user.jpg" alt=""></a></div><div class="profile"><a   href="/profile"><span class="profilename">This is the heading</span><br><span class="profiletime">Yesterday 4:45 pm</span></a></div>
          </div><div class="forumnewdivflex">
            <div><i class="far fa-comment-dots fa-2x"></i></div><div class="profession">Improving the Profession</div><div class="forumthred">Thread <br>392k</div><div class="forumthred">Thread <br>392k</div><div><a   href="#"><img style="border-radius: 100%;" width="50px" height="50px" src="../imagesall/profile_user.jpg" alt=""></a></div><div class="profile"><a   href="#"><span class="profilename">This is the heading</span><br><span class="profiletime">Yesterday 4:45 pm</span></a></div>
          </div><div class="forumnewdivflex">
            <div><i class="far fa-comment-dots fa-2x"></i></div><div class="profession">Improving the Profession</div><div class="forumthred">Thread <br>392k</div><div class="forumthred">Thread <br>392k</div><div><a   href="#"><img style="border-radius: 100%;" width="50px" height="50px" src="../imagesall/profile_user.jpg" alt=""></a></div><div class="profile"><a   href="#"><span class="profilename">This is the heading</span><br><span class="profiletime">Yesterday 4:45 pm</span></a></div>
          </div><div class="forumnewdivflex">
            <div><i class="far fa-comment-dots fa-2x"></i></div><div class="profession">Improving the Profession</div><div class="forumthred">Thread <br>392k</div><div class="forumthred">Thread <br>392k</div><div><a   href="/profile"><img style="border-radius: 100%;" width="50px" height="50px" src="../imagesall/profile_user.jpg" alt=""></a></div><div class="profile"><a   href="/profile"><span class="profilename">This is the heading</span><br><span class="profiletime">Yesterday 4:45 pm</span></a></div>
          </div><div class="forumnewdivflex">
            <div><i class="far fa-comment-dots fa-2x"></i></div><div class="profession">Improving the Profession</div><div class="forumthred">Thread <br>392k</div><div class="forumthred">Thread <br>392k</div><div><a   href="#"><img style="border-radius: 100%;" width="50px" height="50px" src="../imagesall/profile_user.jpg" alt=""></a></div><div class="profile"><a   href="#"><span class="profilename">This is the heading</span><br><span class="profiletime">Yesterday 4:45 pm</span></a></div>
          </div><div class="forumnewdivflex">
            <div><i class="far fa-comment-dots fa-2x"></i></div><div class="profession">Improving the Profession</div><div class="forumthred">Thread <br>392k</div><div class="forumthred">Thread <br>392k</div><div><a   href="#"><img style="border-radius: 100%;" width="50px" height="50px" src="../imagesall/profile_user.jpg" alt=""></a></div><div class="profile"><a   href="#"><span class="profilename">This is the heading</span><br><span class="profiletime">Yesterday 4:45 pm</span></a></div>
          </div><div class="forumnewdivflex">
            <div><i class="far fa-comment-dots fa-2x"></i></div><div class="profession">Improving the Profession</div><div class="forumthred">Thread <br>392k</div><div class="forumthred">Thread <br>392k</div><div><a   href="#"><img style="border-radius: 100%;" width="50px" height="50px" src="../imagesall/profile_user.jpg" alt=""></a></div><div class="profile"><a   href="#"><span class="profilename">This is the heading</span><br><span class="profiletime">Yesterday 4:45 pm</span></a></div>
          </div><div class="forumnewdivflex">
            <div><i class="far fa-comment-dots fa-2x"></i></div><div class="profession">Improving the Profession</div><div class="forumthred">Thread <br>392k</div><div class="forumthred">Thread <br>392k</div><div><a   href="#"><img style="border-radius: 100%;" width="50px" height="50px" src="../imagesall/profile_user.jpg" alt=""></a></div><div class="profile"><a   href="#"><span class="profilename">This is the heading</span><br><span class="profiletime">Yesterday 4:45 pm</span></a></div>
          </div><div class="forumnewdivflex">
            <div><i class="far fa-comment-dots fa-2x"></i></div><div class="profession">Improving the Profession</div><div class="forumthred">Thread <br>392k</div><div class="forumthred">Thread <br>392k</div><div><a   href="#"><img style="border-radius: 100%;" width="50px" height="50px" src="../imagesall/profile_user.jpg" alt=""></a></div><div class="profile"><a   href="#"><span class="profilename">This is the heading</span><br><span class="profiletime">Yesterday 4:45 pm</span></a></div>
          </div><div class="forumnewdivflex">
            <div><i class="far fa-comment-dots fa-2x"></i></div><div class="profession">Improving the Profession</div><div class="forumthred">Thread <br>392k</div><div class="forumthred">Thread <br>392k</div><div><a   href="#"><img style="border-radius: 100%;" width="50px" height="50px" src="../imagesall/profile_user.jpg" alt=""></a></div><div class="profile"><a   href="#"><span class="profilename">This is the heading</span><br><span class="profiletime">Yesterday 4:45 pm</span></a></div>
          </div>
        </div>
      </div>
      <div class=" boxshadow otherforum">
        <div class="realstateforumhead">
          <div class="realstateforumheadh3div">
            <h3>Other Forum</h3>
          </div>
          
          <div class="contentrepeatforun">
            <div class="forumnewdivflex">
              <div><i class="far fa-comment-dots fa-2x"></i></div><div class="profession">Improving the Profession</div><div class="forumthred">Thread <br>392k</div><div class="forumthred">Thread <br>392k</div><div><a   href="#"><img style="border-radius: 100%;" width="50px" height="50px" src="../imagesall/profile_user.jpg" alt=""></a></div><div class="profile"><a   href="#"><span class="profilename">This is the heading</span><br><span class="profiletime">Yesterday 4:45 pm</span></a></div>
            </div><div class="forumnewdivflex">
              <div><i class="far fa-comment-dots fa-2x"></i></div><div class="profession">Improving the Profession</div><div class="forumthred">Thread <br>392k</div><div class="forumthred">Thread <br>392k</div><div><a   href="#"><img style="border-radius: 100%;" width="50px" height="50px" src="../imagesall/profile_user.jpg" alt=""></a></div><div class="profile"><a   href="#"><span class="profilename">This is the heading</span><br><span class="profiletime">Yesterday 4:45 pm</span></a></div>
            </div><div class="forumnewdivflex">
              <div><i class="far fa-comment-dots fa-2x"></i></div><div class="profession">Improving the Profession</div><div class="forumthred">Thread <br>392k</div><div class="forumthred">Thread <br>392k</div><div><a   href="#"><img style="border-radius: 100%;" width="50px" height="50px" src="../imagesall/profile_user.jpg" alt=""></a></div><div class="profile"><a   href="#"><span class="profilename">This is the heading</span><br><span class="profiletime">Yesterday 4:45 pm</span></a></div>
            </div><div class="forumnewdivflex">
              <div><i class="far fa-comment-dots fa-2x"></i></div><div class="profession">Improving the Profession</div><div class="forumthred">Thread <br>392k</div><div class="forumthred">Thread <br>392k</div><div><a   href="#"><img style="border-radius: 100%;" width="50px" height="50px" src="../imagesall/profile_user.jpg" alt=""></a></div><div class="profile"><a   href="#"><span class="profilename">This is the heading</span><br><span class="profiletime">Yesterday 4:45 pm</span></a></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="newsnewcolumn boxshadow"> 
        <div class="realstateforumhead">
          <h5>News</h5>
          <div>
            <marquee class="newsnewup" behavior="" direction="Up">
              <a   href="#">> This is a sample scrolling text that has scrolls in the upper direction.</a><br><br>
              <a   href="#">> This is a sample scrolling text that has scrolls in the upper direction.</a><br><br>
              <a   href="#">> This is a sample scrolling text that has scrolls in the upper direction.</a><br><br>
            </marquee>
          </div>
      </div>
    </div>


    <div class="newsnewcolumn boxshadow upcomingevents"> 
      <div class="realstateforumhead">
        <h5>Upcoming Events</h5>
        <div class="upcomingeentdiviner">
           <p><i class="fas fa-arrow-right"></i> This is heading</p>
           <p><i class="fas fa-arrow-right"></i> This is heading</p>
           <p><i class="fas fa-arrow-right"></i> This is heading</p>
           <p><i class="fas fa-arrow-right"></i> This is heading</p>
           <p><i class="fas fa-arrow-right"></i> This is heading</p>
           <p><i class="fas fa-arrow-right"></i> This is heading</p>
           <p><i class="fas fa-arrow-right"></i> This is heading</p>
        </div>
    </div>
  </div>

  <div class="newsnewcolumn boxshadow "> 
    <div class="realstateforumhead">
      <h5>Carrier Options</h5>
      <div class="upcomingeentdiviner">
        <a   href="#"><i class="fas fa-arrow-right"></i> Carrier Position</a><br>
        <a   href="#"><i class="fas fa-arrow-right"></i> Carrier Position</a><br>
        <a   href="#"><i class="fas fa-arrow-right"></i> Carrier Position</a><br>
        <a   href="#"><i class="fas fa-arrow-right"></i> Carrier Position</a><br>
        <a   href="#"><i class="fas fa-arrow-right"></i> Carrier Position</a><br>
      </div>
      <a class="carriermore" href="/carrieroptions">More...</a><br>
  </div>
</div>

<div class="newsnewcolumn boxshadow "> 
  <div class="realstateforumhead">
    <h5>Tenders List</h5>
    <div class="upcomingeentdiviner">
      <a   href="#"><i class="fas fa-arrow-right"></i> Tenders will be displayed here.</a><br>
      <a   href="#"><i class="fas fa-arrow-right"></i> Tenders will be displayed here.</a><br>
      <a   href="#"><i class="fas fa-arrow-right"></i> Tenders will be displayed here.</a><br>
      <a   href="#"><i class="fas fa-arrow-right"></i> Tenders will be displayed here.</a><br>
      <a   href="#"><i class="fas fa-arrow-right"></i> Tenders will be displayed here.</a><br>
    </div>
    <a class="carriermore" href="/carrieroptions">More...</a><br>
</div>
</div>

  </div>

</div>

</div>



<div class="aboutusdiv">    
  <div class="">
      <div class="container py-5">
        <div class="row h-100 align-items-center py-5">
          <div class="col-lg-6 d-none d-lg-block"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834136/illus_kftyh4.png" alt="" class="img-fluid"></div>
          <div class="col-lg-6">
            <h1 class="display-4 aboutus">About us</h1>
            <p class="lead text-muted mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
            </p>
          </div>
          
        </div>
      </div>
    </div>    
  </div>
  
  <%- include("partials/footer") %>