<%- include("partials/header") %>
<h1 class="page-heading">NewsLetter</h1>
<div class="newsletter-wrapper">
    <div class="newsletter-tab" selected_index="0">
        <span>Current Year</span>
        <span>Archive</span>
    </div>
    <ul class="newsletter-list" id="newsletter-result">
    </ul>
</div>

<script src="/js/allNewsLetter.js"></script>

<%- include("partials/footer") %>