<%- include ("partials/header") %>
    <h1 class="page-heading">Pricing</h1>
    <div class="pricing-image-wrapper">
        <img src="/assets/pricing flyer valuers connect.jpg"/>
        <div class="footer-small">
            <a href="/contactUs" class="contact-us-link">Contact Us</a>
            <a href="https://www.corpcomm@valuersconnect.com">corpcomm@valuersconnect.com</a>
            <div class="social-links">
                <a href="https://www.facebook.com/valuers.connect"><i class="fa fa-facebook"></i></a>
                <a href="https://www.twitter.com/ValuersIndian"><i class="fa fa-twitter"></i></a>
                <a href="https://www.linkedin.com/in/valuers-connect-b125071b5"><i class="fa fa-linkedin"></i></a>
                <a href="http://t.me/valuersconnect"><i class="fa fa-telegram"></i></a>
            </div>
        </div>
        <a class="subscribe-now" href="/payment">Subscribe Now</a>
    </div>

<%- include ("partials/footer") %>