<%- include("partials/header") %>



<div class="profilebackground"></div>
        <div class="container profilepaddingbottom">            
          <div>
              <div class="profilephoto" style="background-image: url(../imagesall/profile_user.jpg);"></div>
          </div>
          <div class="row">
            <div class="col-lg-6">
                <p class="profilecontent">Ankush Roy</p>
                <p  class="profilecontentdescription">Full-Stack Developer || Wordpress Developer || Java Developer</p>
                <div class="personaldetaildiv">
                    <span class="personaldetails"><i class="fas fa-phone-alt"></i> 9660485935</span><br>
                <span class="personaldetails"><i class="fas fa-envelope"></i> royankush399@gmail.com</span><br>
                <span class="personaldetails"><i class="fas fa-map-marker-alt"></i> Pune, Maharashtra</span><br>
                <span class="personaldetails"><i class="fas fa-globe-asia"></i>India</span><br>
                </div>
                
            </div>
            <div class="col-lg-6 profilecontentorgdiv">
                <div>
                    <div class="profilechat"><button class="btn btn-primary btn-lg"><i class="far fa-comment-dots"></i> Message</button><button class="btn btn-primary btn-lg"><i class="fas fa-pen fapen"></i>Edit</button></div>
                
                </div>
                
                <div>
                    <h5 class="profileeducationheading">Organisation :</h5>
                    <span class="profilecontentorg">GSP Producers Limited</span>
                </div>
                <div class="educationdetails">
                    <h5 class="profileeducationheading">Education Details :</h5>
                    <span class="profilecontentorg">Army Institute of Technology</span><br>
                <span class="profilecontentorg"> Bachelor of Engineering</span><br>
                <span class="profilecontentorg">2018 - 2022</span>
                </div>
                
            </div>
          </div>
          
          <!-- <div class="row profiledata">
              <div class="col-lg-6 col-md-6">
                  <table>
                      <tr>
                          <td class="profilebold">Organisation</td>
                          <td class="profilebold">:-</td>
                          <td>Army Institute of Technology</td>
                      </tr>
                      <tr>
                        <td class="profilebold">Contact Numer</td>
                        <td class="profilebold">:-</td>
                        <td>9660485935</td>
                    </tr>
                    <tr>
                        <td class="profilebold">Email</td>
                        <td class="profilebold">:-</td>
                        <td>royankush399@gmail.com</td>
                    </tr>
                  </table>
              </div>
              <div class="col-lg-6 col-md-6">
                <table>
                    <tr>
                        <td class="profilebold">Profession</td>
                        <td class="profilebold">:-</td>
                        <td>Web Developer</td>
                    </tr>
                    <tr>
                      <td class="profilebold">Specialisation</td>
                      <td class="profilebold">:-</td>
                      <td>Front-End</td>
                  </tr>
                  <tr>
                      <td class="profilebold">Education Detail</td>
                      <td class="profilebold">:-</td>
                      <td>
                          <table>
                            <tr>
                                <td class="profilebold">College</td>
                                <td class="profilebold">:-</td>
                                <td>Army Institute of Technology</td>
                            </tr>
                            <tr>
                                <td class="profilebold">Degree Name</td>
                                <td class="profilebold">:-</td>
                                <td>Bachelor of Engineering</td>
                            </tr>
                            <tr>
                                <td class="profilebold">Specialisation</td>
                                <td class="profilebold">:-</td>
                                <td>Web Deveopment</td>
                            </tr>
                            <tr>
                                <td class="profilebold">From-To</td>
                                <td class="profilebold">:-</td>
                                <td>2019-2022</td>
                            </tr>
                          </table>
                        
                      </td>
                  </tr>
                </table>
            </div>
          </div> -->
          
        </div>



        <%- include("partials/footer") %>
