<%- include("partials/header") %>

<div class="logintotalbggreen">
    <div class="loginwhitebg">
        <div class="loginheading">
            <p>Create Password</p>
        </div>
        <form id="loginform" class="resetPasswordForm">
            <div class="greencolortextlogin">
                <p>New Password</p>
                <input type="password" name="" id="email-login">
               
                <p>Confirm Password <small><b>(Minimum 8 character)</b></small></p> 
                <input type="password" name="" id="password-login">
            </div>
            <div>
                <div class="rememberdiv">
                    <input style="visibility: hidden" type="checkbox" name="" id="">
                    <span></span>
                    <!-- <a   href="/forgot-password">Forgot Password?</a> -->
                </div>

            </div>
            <button type="submit" style="cursor: pointer;" class="loginbutton">Reset Password</button>
        </form>

    </div>
</div>
<script src="/js/resetPassword.js"></script>
<%- include("partials/footer") %>