<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Valuers Connect</title>
</head>
<body style="background-color:#374975">
<div style="text-align: center;margin-top: 3rem;"><img src="/assets/logo.png" style="border-radius: .8rem;" alt="" srcset=""></div>
<h1 style="color: white; text-align: center;" >We are updating our website and will be back with new cool features</h1>
</body>
</html>